extends layout.pug

block content
  .container.mt-5

    h1 #{folderData.name} Folder
    p.text-muted Created on: #{folderData.createdAt.toDateString()}

    hr

    // If there are files, display them
    if filesData.length > 0
      h2.mt-4 Your Files
      .list-group
        each file in filesData
          .list-group-item.d-flex.justify-content-between.align-items-center
            .file-info
              h4.mb-0 #{file.fileName}
              p.text-muted.mb-0 File Size: #{file.size} KB | Uploaded: #{file.createdAt.toDateString()}
            // Button to download file
            .btn-group
              a.btn.btn-outline-primary.btn-sm(href=`${file.url}`) Download
              a.btn.btn-sm.btn-outline-secondary(href=`/files/${file.id}/details`) View Details
    else
      // Display this message if there are no files
      .d-flex.justify-content-center.align-items-center.min-vh-50
        h3.text-muted Your files will be displayed here once uploaded
