extends layout.pug

block content
  .container.mt-5
    h1 Your Folders

    if folders.length > 0
      .list-group
        each folder in folders
          .list-group-item.d-flex.justify-content-between.align-items-center  
            h3.mb-0.w-25 #{folder.name}  
            .d-flex
              p.mb-0.mr-3 #{`${folder.createdAt.toDateString()}`} 
            .btn-group
              form(action=`/folders/${folder.id}/edit` method="GET" class="mr-2")
                button.btn.btn-sm.btn-outline-warning(type="submit") Edit

              form(action=`/folders?_method=DELETE` method="POST" onsubmit="return confirm('Are you sure you want to delete this folder?')")  
                input(type="hidden" name='folder_id' value=`${folder.id}`)
                button.btn.btn-sm.btn-outline-danger(type="submit") Delete
    else
      .alert.alert-info.mt-4
        h4 No folders found
        p You haven't created any folders yet.
        p To start uploading files, please create your first folder.
    .mt-5
      h3 Create New Folder
      form(action="/folders" method="POST")
        input(type="hidden" name="name" value="folder") 
        button.btn.btn-primary(type="submit") Create Folder