extends layout.pug

block content
  .container
    .row
      .col-12.mt-4
        if currentUser
          h1 Welcome back, #{currentUser.username}
        else 
          h1 Welcome to FileShare!
        p Share your files with others.

    .row.mt-4
      .col-md-6
        if currentUser
          h2 Upload a File

          // Upload form
          include uploadForm
        else
          h2 Start Sharing Your Files
          p To start uploading files, please 
          a(href="/register") create an account
          |  or 
          a(href="/login") log in

      .col-md-6
        h2 Recently Uploaded Files
        if recentFiles.length > 0
          ul.list-group
            each file in recentFiles
              li.list-group-item
                a(href=`/files/${file.id}/details`) #{file.fileName}
                p.text-muted Uploaded by: #{file.user.username} | Date: #{file.createdAt.toDateString()}
        else
          p.text-muted No files uploaded yet. Be the first to share!
